.category-filter-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  > * {
    margin-right: 2rem;
  }
  .filter-label-input {
    width: 125px;
    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        transform: scale(1.04);
        transition: 0.2s;
      }
      .category-filter-label {
        text-align: center;
        margin-top: 0.5rem;
      }
    }
  }

  // hide checkboxes
  .filter-label-input input.filter-checkbox {
    display: none;
  }

  // style for selected filter
  .filter-label-input .filter-checkbox:checked + label,
  .filter-label-input .filter-checkbox:checked + label > div {
    border-color: $orange;
    color: $orange;
  }
}

.category-filter-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  color: $black;
  border: 2px solid $black;
  padding: 8px;
  border-radius: 50%;
  i {
    font-size: 52px;
  }
}
