.footer {
  background-color: $grey;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;
    .link-group {
      input {
        width: 353px;
      }
      .link-group-title {
        text-transform: uppercase;
        padding: 0 0 15px 0;
      }
      a > p {
        color: $blue-light;
        font-family: Lato;
        font-size: 17px;
        line-height: 21px;
        margin: 0 0 5px 0;
      }
      a:hover > p {
        color: $blue;
      }
      .social-media {
        margin-top: 30px;
        a {
          margin: 0 15px 0 0;
        }
      }
    }
  }
}

@media only screen and (max-width: $Desktops) {
  .footer {
    .container {
      padding: 4em 2em;
      .link-group {
        margin-bottom: 2em;
      }
    }
  }
}

@media only screen and (max-width: $Phones) {
  .footer {
    .container {
      padding: 3em 2em;
      flex-direction: column;
      .link-group {
        margin-bottom: 0;
        input {
          width: 100%;
        }
      }
    }
  }
}
