.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 70px;
  box-sizing: border-box;
  width: 100%;
  padding: 0 50px;
  background-color: white;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  .logo {
    width: 150px;
  }
  a {
    text-decoration: none;
    color: $blue;
    transition: 0.3s;
    &:hover {
      color: $orange;
      transition: 0.3s;
    }
  }
  span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
  }
  .nav-links-right {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    a {
      margin-right: 30px;
    }
    i {
      font-size: 30px;
    }
  }
  .dropdown-links {
    display: block;
  }
}
.header-mobile {
  display: none;
}

@media only screen and (max-width: $Desktops) {
  .header {
    display: none;
  }
  .header-mobile {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    padding: 25px 30px 25px 20px;
    background-color: white;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-links-mobile, #toggle {
      display: none;
    }
    #toggle:checked + .nav-links-mobile {
      transition: 5s;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      left: 0;
      top: 93px;
      height: calc(100vh - 93px);
      width: 100vw;
      padding: 3rem 2rem;
      background-color: $grey;
      a {
        color: $blue;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        line-height: 50px;
        & :hover {
          color: $orange;
        }
      }
      i {
        font-size: 30px;
      }
    }
  }
}

@media only screen and (max-width: $Phones) {
  .header-mobile {
    padding: 15px 30px 15px 20px;
    .logo {
      height: 30px;
    }
    .burger-menu {
      height: 22px;
    }
    #toggle:checked + .nav-links-mobile {
      top: 63px;
      height: calc(100vh - 63px);
    }
  }
}
