* {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  color: $blue;
  font-size: 17px;
}

a {
  text-decoration: none;
}

input {
  box-sizing: border-box;
  height: 40px;
  padding: 0 20px;
  border: 1px solid #8B98B7;
  border-radius: 10px;
  background-color: #FFFFFF;
  font-size: 17px;
  color: $blue;
  &::placeholder {
    font-size: 17px;
    color: $blue-light;
  }
}

.text {
  height: 21px;
  width: 32px;
  font-family: Lato;
  font-size: 17px;
  line-height: 21px;
}

.container {
  max-width: 1200px;
  min-height: calc(100vh - 514px);
  padding: 3rem 5rem;
  margin: 0 auto;
}

@media only screen and (max-width: $Phones) {
  .container {
    padding: 3rem 2rem;
  }
}
