// Colors
$black: #000E2C;
$white: #FFFFFF;
$grey-lighter: #F7F9FC;
$grey-light: #F0F1F2;
$grey: #F0F1F2;
$blue-light: #8B98B7;
$blue: #001E62;
$orange-light: #001E62;
$orange: #FE5000;
$red: #D40000;

// Breakpoints
$Desktops: 1199px; //900 to 1199px
$Tablets: 899px; //600 to 899px
$Phones: 599px; //0 to 599px
