.single-post {
  display: flex;
  flex-direction: column;
  h1 {
    margin-top: 1rem;
  }
  .post-content {
    &> p {
      margin-bottom: 1.5rem;
      line-height: 1.4;
    }
    code {
      font-family: monospace;
      background-color: $grey-light;
      padding: 0.25rem;
    }
    img {
      max-width: 100%;
      max-height: 450px;
      display: block;
      margin: 2rem auto;
    }
  }
}
